<!DOCTYPE html>
<html lang="en">
<head>

     <title>Tiny House</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-digital-trend.css') }}">
     <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">
            <a href=" " class="navbar-brand">
               <i class="fa fa-plug" aria-hidden="true"></i>
              Tiny House 
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Data</a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link smoothScroll">Our Works</a>
                    </li>
                    <li class="nav-item">
                        <a href="blog.html" class="nav-link">Blog</a>
                    </li>-->
                    <li class="nav-item">
                        <a href="" class="nav-link contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- graph -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">This is the Tiny house realtime data server. </h1>

                                   <a href="line" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Show the data!</a>
                                   <!--<a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Show the data!</a>-->

                                   <!--<strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>-->
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{{ url_for('static', filename='images/digital-twin-banner-foreground.png') }}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up"> <strong>Tinyhouse</strong> test data. </h2>
                              <a href="fuelcell" class="custom-btn2 btn-bg2 btn mt-3" data-aos="fade-up" data-aos-delay="100">Fuelcell</a>
                              <a href="grid" class="custom-btn2 btn-bg2 btn mt-3" data-aos="fade-up" data-aos-delay="100">Grid</a>
                              <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">

                                   <!--<div class="hero-image" data-aos="fade-up" data-aos-delay="300">-->
                                     <img id="picture" src="/line" alt="Test" width="1000" alignment="center"> 
                                     <br>
                                     <img id="picture2" src="/fuelcell" alt="Test" width="1000" alignment="center"> 
                                     <img id="picture2" src="/grid" alt="Test" width="1000" alignment="center"> 
                                   </div>
                                 </div>

                         </div>

                    </div>

               </div>
          </div>
     </section>


     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
     <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
     <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>

</body>
</html>